flows.json
[
    {
        "id": "bee2797feead64e1",
        "type": "tab",
        "label": "mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2882912308de4568",
        "type": "mqtt out",
        "z": "bee2797feead64e1",
        "name": "",
        "topic": "rele2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdc4b19b6eb681f",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "2bbe925d75dedae8",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "82d686eef31d90fe"
            ]
        ]
    },
    {
        "id": "36c599010476214f",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "57b464a1d2dcd56d"
            ]
        ]
    },
    {
        "id": "fa8966d6048b61ca",
        "type": "mqtt out",
        "z": "bee2797feead64e1",
        "name": "",
        "topic": "rele3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdc4b19b6eb681f",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "82d686eef31d90fe",
        "type": "mqtt out",
        "z": "bee2797feead64e1",
        "name": "",
        "topic": "rele4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdc4b19b6eb681f",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "57b464a1d2dcd56d",
        "type": "mqtt out",
        "z": "bee2797feead64e1",
        "name": "",
        "topic": "rele1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdc4b19b6eb681f",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "9bc57b2fbebbc81c",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "fa8966d6048b61ca"
            ]
        ]
    },
    {
        "id": "bba0b6cfb8c9b179",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "2882912308de4568"
            ]
        ]
    },
    {
        "id": "ee65050bc2f399fd",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "57b464a1d2dcd56d"
            ]
        ]
    },
    {
        "id": "9d5a876d68a3aab8",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "2882912308de4568"
            ]
        ]
    },
    {
        "id": "ed7159b02b9ece2a",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "fa8966d6048b61ca"
            ]
        ]
    },
    {
        "id": "34acbef341c64bbb",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "82d686eef31d90fe"
            ]
        ]
    },
    {
        "id": "4b768dc691ba9716",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "57b464a1d2dcd56d",
                "2882912308de4568",
                "fa8966d6048b61ca",
                "82d686eef31d90fe"
            ]
        ]
    },
    {
        "id": "cc446dc3bdcc2372",
        "type": "inject",
        "z": "bee2797feead64e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "57b464a1d2dcd56d",
                "2882912308de4568",
                "fa8966d6048b61ca",
                "82d686eef31d90fe"
            ]
        ]
    },
    {
        "id": "a1df50819b7df5a8",
        "type": "ui_switch",
        "z": "bee2797feead64e1",
        "name": "",
        "label": "Lampara 1",
        "tooltip": "",
        "group": "cd0b2ae0164100b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "57b464a1d2dcd56d"
            ]
        ]
    },
    {
        "id": "0897022d51a85e99",
        "type": "ui_switch",
        "z": "bee2797feead64e1",
        "name": "",
        "label": "Lampara 2",
        "tooltip": "",
        "group": "cd0b2ae0164100b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "2882912308de4568"
            ]
        ]
    },
    {
        "id": "ccc9cba51a515537",
        "type": "ui_switch",
        "z": "bee2797feead64e1",
        "name": "",
        "label": "Lampara 3",
        "tooltip": "",
        "group": "cd0b2ae0164100b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "fa8966d6048b61ca"
            ]
        ]
    },
    {
        "id": "f454a2ad102e5bfa",
        "type": "ui_switch",
        "z": "bee2797feead64e1",
        "name": "",
        "label": "Enchufe",
        "tooltip": "",
        "group": "cd0b2ae0164100b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 480,
        "wires": [
            [
                "82d686eef31d90fe"
            ]
        ]
    },
    {
        "id": "5bdc4b19b6eb681f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.100.193",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cd0b2ae0164100b0",
        "type": "ui_group",
        "name": "Panel de Control",
        "tab": "4eacfea60a163353",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4eacfea60a163353",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]